.img1 {
    background-image: url(../images/home/01.jpg);
}

.img2 {
    background-image: url(../images/home/02.gif);
}

.img3 {
    background-image: url(../images/home/03.jpg);
}

.img4 {
    background-image: url(../images/home/04.jpg);
}

@media (max-width: 400px) {
    .shortTitle {
        width: 100%;
    }
    .img2{
        height: 100vh;
        background-size: cover;
    }
}

@media (max-width: 470px) {
    .shortTitle {
        width: 100%;
    }
}
